
body {
	margin: 0;
	background: #eee;
}

.header {
	padding-bottom: 5px;
	background: black;
}

.title {
	font-size: 32px;
	color: white;
	padding: 5px;
}

.nav-item {
	font-size: 14px;
	color: darkgray;
	padding: 5px;
}

.nav-item-current {
	font-size: 14px;
	color: white;
	padding: 5px;
}

.font-roboto {
	font-family: 'Roboto Slab', serif;
}

a {
	text-decoration: none;
}

.page-content {
	padding: 30px;
}

.projects-header {
	padding-bottom: 20px;
}

.project {
	margin: 10px;
	padding: 10px;
	border-radius: 25px;
	float: left;
	flex-flow: row;
	background: #ccc;
	width: 315px;
}

.project-image {
	border-radius: 20px;
}

.project-text {
	margin-top: 5px;
	margin-bottom: 0;
	display: block;
	color: black;
}