
body {
	margin: 0;
	background: #eee;
}

.header {
	padding-bottom: 5px;
	background: black;
}

.title {
	font-size: 32px;
	color: white;
	padding: 5px;
}

.nav-item {
	font-size: 14px;
	color: darkgray;
	padding: 5px;
}

.nav-item-current {
	font-size: 14px;
	color: white;
	padding: 5px;
}

.font-roboto {
	font-family: 'Roboto Slab', serif;
}

a {
	text-decoration: none;
}

.page-content {
	padding: 30px;
}