
body {
	background-color: lightgrey;
}

.container {
	width: 1280px;
	margin-top: -64px;
	padding: 96px 24px;
	background: white;
}

.container h1 {
	font-weight: bold;
}

.article {
	display: grid;
	grid-template-columns: 65% 35%;
	column-gap: 16px;
}

.articles p {
	font-size: 18px;
}

.articles a {
	text-decoration: none;
	color: #333;
}

.articles a:hover {
	color: black;
}

.articles img {
	width: 90%;
}

.space-above {
	margin-top: 12px;
}
