
body {
	background-color: lightgrey;
}

.container {
	width: 1280px;
	margin-top: -64px;
	padding: 96px 24px;
	background: white;
}

h1 {
	border-bottom: 2px solid darkgrey;
}

h2 {
	border-bottom: 1px solid darkgray;
}

.two-columns {
	display: grid;
	grid-template-columns: 50% 50%;
}

.spacing {
	padding-top: 16px;
	padding-left: 12px;
	padding-right: 12px;
}

.work-title {
	padding-right: 16px;
	display: inline;
}